@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}

@theme {
	--color-base: hsl(32deg, 57%, 95%);
	--color-surface: hsl(35deg, 100%, 98%);
	--color-overlay: hsl(33deg, 43%, 91%);
	--color-muted: hsl(257deg, 9%, 61%);
	--color-subtle: hsl(248deg, 12%, 52%);
	--color-text: hsl(248deg, 19%, 40%);
	--color-love: hsl(343deg, 35%, 55%);
	--color-gold: hsl(35deg, 81%, 56%);
	--color-rose: hsl(3deg, 53%, 67%);
	--color-pine: hsl(197deg, 53%, 34%);
	--color-foam: hsl(189deg, 30%, 48%);
	--color-iris: hsl(268deg, 21%, 57%);
	--color-hllow: hsl(25deg, 35%, 93%);
	--color-hlmed: hsl(10deg, 9%, 86%);
	--color-hlhigh: hsl(315deg, 4%, 80%);
}

@layer base {
	@variant dark {
		--color-base: hsl(246deg, 24%, 17%);
		--color-surface: hsl(248deg, 24%, 20%);
		--color-overlay: hsl(248deg, 21%, 26%);
		--color-muted: hsl(249deg, 12%, 47%);
		--color-subtle: hsl(248deg, 15%, 61%);
		--color-text: hsl(245deg, 50%, 91%);
		--color-love: hsl(343deg, 76%, 68%);
		--color-gold: hsl(35deg, 88%, 72%);
		--color-rose: hsl(2deg, 66%, 75%);
		--color-pine: hsl(197deg, 48%, 47%);
		--color-foam: hsl(189deg, 43%, 73%);
		--color-iris: hsl(267deg, 57%, 78%);
		--color-hllow: hsl(245deg, 22%, 20%);
		--color-hlmed: hsl(247deg, 16%, 30%);
		--color-hlhigh: hsl(249deg, 15%, 38%);
	}
}
